@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #141C2C;
  height: 100vh;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  margin: 0;
}

header {
  background-color: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 70px;
  margin: auto;
  width: 1000px;
}

header img {
  height: 75px;
}

table {
  color: #E9EFF2;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
}

table td {
  padding: 15px;
  text-align: left;
}

table tr {
  background-color: #606A88;
}

table tr:hover {
  background-color: #8494B4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

table tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem 0;
}

.card {
  background-color: transparent;
  height: 250px;
  perspective: 1000px;
  border: 1px #E9EFF2 solid;
  border-radius: 10px;
  transition: transform .7s ease;
}

.card:hover {
  transform: scale(1.04);
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.App {
  text-align: center;
}

.search {
  height: 100px;
  padding-top: 1rem;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: 1rem auto;
}

/*============== MEDIA QUERIES ==================*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    padding: 70px;
    margin: auto;
    width: 600px;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  
}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .card-container {
    grid-template-columns: 1fr;
    /* padding: 1rem; */
  }

  header {
    width: 300px;
    padding: 1.8rem;
    /* justify-content: center; */
  }

  header img {
    height: 50px;
  }

  header h1 {
    font-size: 13.7px;
  }

  table {
    width: 250px;
    font-size: 15px;
  }
}
